/*colloqui.jsp*/

body, html {
    height: 100%;
    padding: 0;
    margin : 0;
}

#pagesContainer {
    display: flex;
    justify-content: center;
}

#containerColloqui, #containerIncontri, #containerCorsi {
    clear: both;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.colloquioItem, .incontroItem, .corsoItem {
    margin : 30px auto 30px auto;
    border : 2px solid black;
/*    height: 350px; */
    width: 800px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: #F8F8FF;
}

.colloquioItem, .incontroItem {
    height: 250px;
}

.corsoItem {
    height: 350px;
}

.containerFotoEsperto {
    height: 175px;
    width: 175px;
    margin : 25px 25px 0 25px;
}

.containerFotoLingua {
    height: 100px;
    width: 175px;
    margin: 25px 25px 0 25px;
}

.fotoEsperto, .fotoLingua {
    height: inherit;
    width: inherit;
    border-radius: 10px;
}

.containerInfo {
    /*height : 300px;*/
    width: 350px;  /*stiamo a 575 pixel occupati su 800, margini compresi*/
    margin : 25px 25px 0 0;
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: column;
}

.corsoItem .containerInfo {
    height: 300px;
}

.colloquioItem .containerInfo, .incontroItem .containerInfo{
    height: 200px;
}

.nomeCompleto {
    font-size: 18pt;
    margin: 0;
}

.containerPrezzoCarrello {
    /*height : 300px;*/
    width : 200px;
    margin: 25px 25px 0 0;
    /*border : 2px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.corsoItem .containerPrezzoCarrello {
    height:  300px;
}

.colloquioItem .containerPrezzoCarrello, .incontroItem .containerPrezzoCarrello {
    height: 200px;
}

.prezzoOrario {
    margin: 0 0 100px 0;
    font-weight: bold;
    font-size: 18pt;
}

.divCarrello {
    height: 50px;
    width: 50px;
    align-self: center;
    margin-top: auto;
}

.fotoCarrello {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}


/*filtro lingua*/
#droplabel-lingue, #droplabel-livelli {
    display: inline-block;
    cursor: pointer;  /*mostra mano anziché freccia quando mouse ci va sopra*/
    height: 50px;
    width: 150px;
    border : 2px solid darkgrey;
    border-radius: 5px;
    align-content: center;
}

#droplabel-lingue:hover, #droplabel-livelli:hover{
    border-color: black;
}

#filtroLingua, #filtroLivello {
    background-color: white;
    cursor: pointer;  /*mostra mano anziché freccia quando mouse ci va sopra*/
    display: flex;
    align-content: center;
}

#dropdown-content-lingue, #dropdown-content-livelli {
    margin-top : 100px;
}

#droplabel-lingue, #droplabel-livelli{
    padding: 20px;
    text-align: center;
}

/*filtro prezzi*/
#filtroPrezzo {
    background-color: white;
    cursor: pointer;  /*mostra mano anziché freccia quando mouse ci va sopra*/
    display: flex;
    align-content: center;
}

#droplabel-prezzi {
    display: inline-block;
    cursor: pointer;  /*mostra mano anziché freccia quando mouse ci va sopra*/
    height: 50px;
    width: 150px;
    border : 2px solid darkgrey;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    padding: 20px;
}

#droplabel-prezzi:hover {
    border-color: black;
}

#dropcheck-prezzi{
    display: none;
}

#dropdown-content-prezzi {    /*div che contiene tutti i div delle singole lingue*/
    display: none;
    position: absolute;
    font-size:0; /*mi elimina gli spazi bianchi tra div con display:inline-block*/
    z-index: 1;
    border : 1px solid black;
    margin-top: 100px;
    background-color: white;
}

.div-prezzo { /*div che contiene la singola lingua*/
    color: black;
    font-size: 16px;
    text-align: left;
    background-color: white;
    margin : 10px 10px 10px 10px;
}

/*filtro orario*/
#filtroDataOra {
    background-color: white;
    cursor: pointer;  /*mostra mano anziché freccia quando mouse ci va sopra*/
    display: flex;
    align-content: center;
}

#droplabel-data {
    display: inline-block;
    cursor: pointer;  /*mostra mano anziché freccia quando mouse ci va sopra*/
    height: 50px;
    width: 150px;
    border : 2px solid darkgrey;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    padding: 20px;
}

#droplabel-data:hover {
    border-color: black;
}

#dropcheck-data{
    display: none;
}

#dropdown-content-data {    /*div che contiene tutti i div delle singole lingue*/
    display: none;
    position: absolute;
    font-size:0; /*mi elimina gli spazi bianchi tra div con display:inline-block*/
    z-index: 1;
    border : 1px solid black;
    margin-top: 100px;
    background-color: white;
}

.div-data { /*div che contiene la singola lingua*/
    color: black;
    font-size: 16px;
    text-align: left;
    background-color: white;
    margin : 10px 10px 10px 10px;
}

#f{
    margin-left: 30px;
}

.filtro {
    margin : 30px 5px 30px 5px;
}

#submitFiltro {
    background-color: #007253;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    border-color: #007253;
    cursor: pointer;
}

.div-lingua, .div-livello {
    display: inline-block;
    border : 1px solid black;
}

.div-lingua:hover, .div-livello:hover{
    background-color: aquamarine;
}

.filtro{
    float : left;
}

/*#filtroIncompleto{
    background-color: red;
    align-content: center;
    color: white;
    width: 200px;
    margin : 15px;
}*/

#droplabel-lingue, #droplabel-livelli{
    padding: 20px;
    text-align: center;
}

#dropcheck-lingue, #dropcheck-livelli{
    display: none;
}

#dropdown-content-lingue, #dropdown-content-livelli {    /*div che contiene tutti i div delle singole lingue*/
    display: none;
    position: absolute;
    font-size:0; /*mi elimina gli spazi bianchi tra div con display:inline-block*/
    z-index: 1;
}

.div-lingua, .div-livello { /*div che contiene la singola lingua*/
    color: black;
    font-size: 16px;
    padding: 0 16px;
    text-align: left;
    background-color: white;
    width : 130px;
    align-content: center;
    height: 40px;
}

.info {
    font-family: system-ui;
    margin: 10px 0 0 0;
    text-align: justify;
}


.prezzoOrario, .prezzo {
    font-weight: bold;
    text-align: center;
    margin: 0; /*i paragrafi hanno un margine di default diverso da 0*/
}

.prezzo {
    font-size: 40pt;
}

.prezzoOrario {
    font-size: 25pt;
}

.divCarrello {
    background-color: #007253;
    width: 90px;
    text-align: center;
    border-radius: 25px;
}

.firstWord {
    font-weight: bold;
}

#nessunRisultato {
    font-size: 25pt;
    font-family: system-ui;
    color: darkgrey;
}

.buttonCarrello {
    width: 90px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 25px;
}

.hiddenForm {
    text-align: center;
}

/*da aggiustare, aggiungere anche un altezza */
@media screen and (max-height: 800px ){

    #dropdown-content-lingue {
        max-height: 208px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 750px ){
    #containerFiltri {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .filtro {
        width: 110px;
        padding: 0;
    }

    #f{
        margin-left: 0;
    }

    #submit {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .div-livello {
        width: 70px;
    }
}

@media screen and (max-width: 850px) {
    .corsoItem, .colloquioItem, .incontroItem {
        flex-direction: column;
        width: 300px;
        height: inherit;
    }

    .corsoItem .containerPrezzoCarrello, .colloquioItem .containerPrezzoCarrello, .incontroItem .containerPrezzoCarrello {
        margin: 0;
        align-self: center;
        width: 250px;
        height: 300px;
    }

    .containerfotoLingua, .containerFotoEsperto {
        align-self: center;
    }

    .corsoItem .containerInfo, .colloquioItem .containerInfo, .incontroItem .containerInfo {
        margin: 0 0 10px 0;
        align-self: center;
        width: 250px;
        height: 300px;
    }

    .containerFotoLingua, .containerFotoEsperto {
        margin-bottom: 10px;
    }

    .corsoItem .containerPrezzoCarrello, .colloquioItem .containerPrezzoCarrello, .incontroItem .containerPrezzoCarrello {
        margin: 0 0 10px 0;
        height: 50px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; /*il primo elemento tutto a sinistra e il secondo tutto a destra */
    }

    .prezzoOrario, .prezzo {
        margin-left: 10px;
    }

    .prezzo {
        font-size: 30pt;
    }

    .prezzoOrario {
        font-size: 18pt;
    }

    .divCarrello {
        margin-right: 10px;
    }

    #nessunRisultato {
        font-size: 20pt;
    }
}

@media screen and (max-width: 550px) {
    #dropdown-content-data{
        right: 15px;
    }
}