footer {
    background-color: darkgreen;
}

.divSupporto {
    align-content: center;
    text-align: center;
    align-self: center;
    border-radius: 15px;
    height: 20px;
    width: 50px;
    padding: 15px;
    margin-left: 20px;
}

.divSupporto:hover {
    background-color: #80B918;
}

.divSupporto a {
    color: white;
    text-decoration: none;
}



