body, html {
    height: 100%;
    padding: 0;
    margin : 0;
}

.containerOfAll {
    overflow: auto; /* per non far collassare i margini*/
}

.containerCorso, #containerNothing {
    display: flex;
    margin: 50px auto 50px auto;
    width: 60vw;
    height: 40vh;
    border-radius: 30px;
    background-color: mediumaquamarine;
    box-shadow: 10px 10px 5px #007253;
    clear:left;
}

.corsoItem {
    height: 80%;
    width: 30%;
    margin: auto;
    align-content: center;
    text-align: center;
}

.infoCorso {
    text-align: justify;
}

.prezzo {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    height: 70%;
}

.carrello {
    text-align: center;
    height: 30%;
    align-content: center;
}

.carrello > button {
    height: 40%;
    width: 70%;
    border-radius: 15px;
    background-color: #007253;
    color: white;
    font-size: 12pt;
}

.imgLinguaCorso {
    height: 80px;
    width: 130px;
}

#mainContainer {
    margin: auto;
}

#topContainer {
    display: flex;

    width: 80%;
    height: 20%;
    margin: auto;
}

#bottomContainer {
    width: 80%;
    height: 70%;
    margin: auto;
}

.item {
    width: 20%;
    height: 30%;
    margin: auto;
    background-color: #007253;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15pt;
}


.credenziali, #intestazione{
    align-content: center;
    text-align: center;
    width: 50%;
    height: 10%;
    margin: auto;
}

#it1 {
    background-color: mediumaquamarine;
}




/*#dropcheck-lingue:checked + .dropdown-content-lingue {
    display: block;
}*/  /*non va bene così*/

#mostraTuttiCorsiContainer {
    background-color: #007253;
    margin : 20px;
    display: inline-block;
    padding : 10px;
    border-radius: 10px;
}

#mostraTuttiCorsi {
    color : white;
}

#anchorMostraTuttiCorsi {
    display: flex;
    justify-content: center;
    text-decoration: none;
}


/*File areaUtente.jsp*/
#containerAreaUtente, #containerAreaEsperto {
    display: flex;
    height: 100%;
}

#containerdatiUtente, #containerModificaDati, #containerdatiEsperto, #containerModificaDatiEsperto {
    height: 100%;
    width: 50vw;
    align-content: center;
    text-align: center;
}

#tableDatiUtente, #tableDatiEsperto {
    margin: auto;
}

#divTastoModifica {
    text-align: center;
    margin-top: 50px;
}

#tastoModifica {
    width: 40%
}

.paragrafiRossi {
    color: red;
    font-weight: bold;
}

#divImgEsperto {
    margin-bottom: 20px;
}

#imgEsperto {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

/*File homeAdmin.jsp*/
#containerAdmin, #containerEsperto {
    height: 80%;
    display: flex;
}

.adminSettings, .espertoSettings {
    background-color: mediumaquamarine;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.settingsLink {
    width: 180px;
    background-color: #007253;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    margin: auto;
}

.settingsLink > a {
    color: white;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.settingsImg, .settingsLink {
    align-content: center;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {

    #containerAdmin {
        /*dispone il contenuto verticalmente*/
        display: flex;
        flex-direction: column;
    }

    .adminSettings {
        width: 250px;
        margin-top: 50px;
    }

    .settingsLink {
        margin-bottom: 30px;
    }
}



#tableUtenti, #tableEsperti, #tableCorsi, #tableOrdini, #tableColloqui, #tableIncontri, #divFiltri {
    margin: auto;
    width: 80%;
}

#divFiltri {
    height: 20%;
    align-content: center;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

#imgLingua {
    height: 30px;
    width: 50px;
}

#divModifica, #aggiungiCorso, #aggiungiLingua{
    display: none;
    position: absolute; /*sovrappone il container al resto della pagina*/

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*allinea il container al centro della pagina*/

    height: 40vh;
    width: 25vw;
    border: solid black;
    background-color: whitesmoke;

    border-radius: 30px;
    text-align: center;
    align-content: center;
}

#aggiungiCorso, #aggiungiLingua {
    height: 450px;
    width: 300px;
}

.aggiungiCorsoItem {
    margin-top: 5px;
}

.aggiungiLinguaItem {
    margin-top: 10px;
}

.datiMod {
    margin-top: 25px;
}


.dropbtn {
    height: 5vh;
    width: 15vw;
    background-color: #007253;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: white;
}

#btnAggiunta {
    margin-left: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: mediumaquamarine;
}

/*homeEsperto.jsp*/
#tableLingue {
    margin: auto;
}

#divListaConoscenze, #divAggiungiLingua {
    text-align: center;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    border-radius: 30px;
    border: 1px solid grey;
}

#divAggiungiLingua {
    height: 100px;
    width: 350px;
    display: none;
    align-content: center;
}

#btnChiudiLista, #btnAggiungiLingua, #btnConferma, #btnRimuovi {
    color: white;
    background-color: #007253;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 30px;
}

#btnRimuovi {
    height: 20px;
    width: 80px;
    border-radius: 10px;
    margin: auto;
}

#divListaConoscenze {
    overflow: auto;
}

