#navBarContainer {
    background-color: #007253;
    text-align: right;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .mainMenu > li {
    display: inline-block;
    width: 150px;
    text-align: center;
    align-content: center;
}

nav a {
    margin: 0;
    padding: 12px 15px 12px 15px;
    background-color: #007253;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}

nav li:hover > a {
    background-color: mediumaquamarine;/*#80B918;*/
}

nav .subMenu, nav .superSubMenu{
    position: absolute;
    display: none;
}

nav .mainMenu > li:hover .subMenu, nav .subMenu > li:hover > .superSubMenu {
    display: block;
}

nav .superSubMenu {
    top: 0;
    right: 100%;
}

nav .subMenu li {
    position: relative;
    width: 150px;
}

nav .superSubMenu > li {
    width: 150px;
}

#liBenvenuto {
    width: 200px;
}

#benvenutoEsperto, #benvenutoUtente {
    margin: auto;
    color: white;
    font-size: 16pt;
    font-weight: bold;
}

#logo {
    float: left;
}

#divLogo {
    font-weight: bold;
    font-size: 30pt;
}
