html {
    height : 100%; /* se non faccio così il footer non si espande su tutto lo spazio assegnato*/
    width : 100%;
}

header {
    display: flex; /*dispone i componenti dell'header su un'unica riga*/
    height: 25%; /*20% rispetto all'altezza totale della pagina*/
}

section {
    height: 60%;
}

footer {
    height: 15%;
    background-color: darkgreen;
    padding-top: 1px;
    padding-left: 5px;
    padding-bottom: 1px;
}

body {
    margin: 0; /* estende il body all'intera pagina sovrascrivendo i margini predefiniti dal browser*/
}

#grid-container { /* elemento griglia contenente celle */
    height: 400px; /*altezza del grid-container*/
    width: 800px;
    justify-content: center;

    border-color: #80B918;
    background-color: #80B918;
    border-radius: 15px; /*raggio della circonferenza per smussare il bordo*/
   /* margin: 50px 200px 50px 200px; */

    display: grid; /* scelta della modalità di disposizione delle celle */
    grid-template-columns: 150px 150px 150px; /* significa che ci sono 3 colonne e ciascuna di esse avrà una larghezza di 150px*/
    grid-template-rows: 75px 75px; /* significa che ci sono 2 righe e ciascuna di esse avrà una altezza di 75px*/
    column-gap: 60px; /*distanza tra le celle in orizzontale*/
    row-gap: 35px; /*distanza tra le celle in verticale*/

    align-content: center; /* Per centrare gli item lungo l'asse verticale */
}

#outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}


.grid-item { /* cella delle griglia */
    /* visto che non c'è la proprietà border per default non si vedranno i contorni delle celle*/
    align-content: center;
    text-align: center;
    border: solid white;
    background-color: white;
    border-radius: 10px; /*raggio della circonferenza per smussare il bordo*/
}

.logo, .menu {
    /*display: inline-block;*/
    border: solid;
    width : 50%; /* se aggiungo un solo decimo in piu, verranno disposti uno sopra l'altro i div mentre io li voglio uno dopo l'altro. Questo perché il browser ha dei margini predefiniti*/
    height : 65px;
}

#divPlus {
    margin-left: 262px;
    background-color: darkgreen;
    border-radius: 50%;
    border: solid darkgreen;
    height: 25px;
    width: 25px;
    text-align: center;
    align-content: center; /* allinea il testo nel div, l'ordine è importante*/
}

#plus {
    text-decoration: none; /*rimuove sottolineatura al link*/
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

.supporto {
    color: white;
    text-decoration: none; /*rimuove la sottilineatura del link*/
    font-size: 12pt;
    font-weight: bold;
}


#ulMenu{
    list-style-type: none; /*elimina l'elenco puntato*/
    margin: 0;
    padding: 0; /*eliminano la dispozione predefinita del browser*/
    display: flex;
    justify-content: flex-end; /* */
}

.liMenu {
    display: inline; /*dispone gli elementi della lista in orizzontale*/
    background-color: darkgreen;
    margin-left: 5px;
    flex: 0 1 80px;
    /*
        flex: 0 1 80px; imposta l'elemento per avere una larghezza di base di 80 pixel.

        L'elemento non crescerà mai oltre i 80 pixel, indipendentemente dallo spazio disponibile
        nel contenitore (flex-grow: 0).

        L'elemento può ridursi sotto i 80 pixel se lo spazio nel contenitore è
        insufficiente (flex-shrink: 1).
    */
}

.menuElem {
    color: white;
    font-size: 10pt;
    padding: 8px;
    text-decoration: none;  /*rimuove la sottolineatura al link*/
}

p {
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

a:link, a:visited, a {
    color: white; /*imposta il colore del link bianco per link visitato e non visitato*/
    text-decoration: none; /*rimuove la sottolineatura al link*/
}