html {
    height : 100%; /* se non faccio così il footer non si espande su tutto lo spazio assegnato*/
    width : 100%;
}

header {
    height: 25%; /*25% rispetto all'altezza totale della pagina*/
}

section {
    height: 60%;
}

footer {
    height: 15%;
    background-color: darkgreen;
    padding-top: 1px;
    padding-left: 5px;
    padding-bottom: 1px;
}


body {
    margin: 0; /* estende il body all'intera pagina sovrascrivendo i margini predefiniti dal browser*/
}

#flex-container { /* elemento griglia contenente celle */
    height: 400px; /*altezza del grid-container*/
    width: 800px;
    justify-content: center;

    border-color: #80B918;
    background-color: #80B918;
    border-radius: 15px; /*raggio della circonferenza per smussare il bordo*/

    display: flex; /*dispone gli elementi in orizzontale*/
    flex-wrap: wrap; /*sposta a capo gli elementi che non rientrano nello spazio disponibile*/
}

#outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}


.flex-item { /* cella delle griglia */

    background-color: white;
    width: 200px;
    margin: 30px;
    text-align: center; /*allinea il testo orizzontalmente nel div*/
    align-content: center; /*allinea il testo verticalmente nel div*/
    line-height: 20px;
    border-radius: 10px; /*raggio della circonferenza per smussare il bordo*/
    font-size: 30px;

}



#divPlus {
    align-content: center;
    text-align: center;
}

a:link, a:visited, a {
    color: white; /*imposta il colore del link bianco per link visitato e non visitato*/
    text-decoration: none; /*rimuove la sottolineatura al link*/
}

.foto-lingue {
    height: 80px;
    width: 200px;
}

#userImg, #cartImg {
    height: 35px;
    width: 35px;
}

#div-login {
    background-color: #80B918;
    margin: auto;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    align-content: center;
}

#form-login input{
    margin-bottom: 30px;
}

#tasto-login {
    background-color: darkgreen;
    color: white;
    border-radius: 20px;
}



/*quando la larghezza della finestra scende sotto i 650 pixel i bottoni della barra
di navigazione vengono disposti in verticale */
@media screen and (max-width: 650px) {
    #nav-bar .bar-item {
        float: none;
        width: 100%;

    }
}

