html {
    height : 100%; /* se non faccio così il footer non si espande su tutto lo spazio assegnato*/
    width : 100%;
}



body {
    margin: 0; /* estende il body all'intera pagina sovrascrivendo i margini predefiniti dal browser*/
}

#flex-container { /* elemento griglia contenente celle */
    height: 480px; /*altezza del grid-container*/
    width: 800px;
    justify-content: center;

    border-color: mediumaquamarine;/*#80B918;*/
    background-color: mediumaquamarine;/*#80B918;*/
    border-radius: 30px; /*raggio della circonferenza per smussare il bordo*/

    display: flex; /*dispone gli elementi in orizzontale*/
    flex-wrap: wrap; /*sposta a capo gli elementi che non rientrano nello spazio disponibile*/

    row-gap: 2px;
}

#outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 60px 0;
}


.flex-item{ /* cella delle griglia */
    background-color: papayawhip;/*papayawhip;*/
    width: 200px;
    height: 110px;
    margin: 30px;
    text-align: center; /*allinea il testo orizzontalmente nel div*/
    align-content: center; /*allinea il testo verticalmente nel div*/
    border-radius: 10px; /*raggio della circonferenza per smussare il bordo*/
    font-size: 30px;

    line-height: 15px; /*mette le scritte al posto loro*/
}

#divPlus {
    height: 110px;
    width: 200px;
    margin: 30px;
    align-content: center;
    text-align: center;
}


a:link, a:visited, a {
    color: white; /*imposta il colore del link bianco per link visitato e non visitato*/
    text-decoration: none; /*rimuove la sottolineatura al link*/
}

.foto-lingue {
    padding-top: 15px;
    height: 50px;
    width: 80px;
}

.nomeLingua {
    color: black;

}

#userImg, #cartImg {
    height: 35px;
    width: 35px;
}


p {
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

#plus {
    background-color: mediumaquamarine; /*#80B918;*/
    border: none;
}

#imgPlus, #imgMinus {
    height: 48px;
    width: 48px;
}

#divErrorePermessi {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 18%;
    text-align: center;
    padding: 15px;
    margin-bottom: 3%;
    border-radius: 15px;
}


/*quando la larghezza della finestra scende sotto i 900 pixel i bottoni della barra
di navigazione vengono disposti in verticale */
@media screen and (max-width: 900px) {

    #flex-container {
        width: 600px;
        height: 680px;
    }
}

@media screen and (max-width: 650px) {

    #flex-container {
        width: 230px;
        height: 910px;
    }

    .flex-item {
        margin: 5px 15px 5px 15px;
    }

    .flex-item:first-child {
        margin-top: 15px;
    }

}

#bho {
    color : red;
}