html {
    height : 100%; /* se non faccio così il footer non si espande su tutto lo spazio assegnato*/
    width : 100%;
}

/*section {
    height: 60%;
}*/


body {
    margin: 0; /* estende il body all'intera pagina sovrascrivendo i margini predefiniti dal browser*/
}

#flex-container { /* elemento griglia contenente celle */
    height: 450px; /*altezza del grid-container*/
    width: 800px;
    justify-content: center;

    border-color: #80B918;
    background-color: #80B918;
    border-radius: 15px; /*raggio della circonferenza per smussare il bordo*/

    display: flex; /*dispone gli elementi in orizzontale*/
    flex-wrap: wrap; /*sposta a capo gli elementi che non rientrano nello spazio disponibile*/
}

#outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}


.flex-item { /* cella delle griglia */

    background-color: white;
    width: 200px;
    margin: 30px;
    text-align: center; /*allinea il testo orizzontalmente nel div*/
    align-content: center; /*allinea il testo verticalmente nel div*/
    line-height: 15px;
    border-radius: 10px; /*raggio della circonferenza per smussare il bordo*/
    font-size: 30px;
}



#divPlus {
    width: 200px;
    align-content: center;
    text-align: center;
}

a:link, a:visited, a {
    color: white; /*imposta il colore del link bianco per link visitato e non visitato*/
    text-decoration: none; /*rimuove la sottolineatura al link*/
}

.foto-lingue {
    padding-top: 15px;
    height: 50px;
    width: 80px;
}

.nomeLingua {
    color: black;
}

#userImg, #cartImg {
    height: 35px;
    width: 35px;
}


p {
    color: white;
    font-size: 15pt;
    font-weight: bold;
}



/*quando la larghezza della finestra scende sotto i 900 pixel i bottoni della barra
di navigazione vengono disposti in verticale */
@media screen and (max-width: 900px) {

    #flex-container {
        width: 600px;
        height: 90vh;
    }
}

@media screen and (max-width: 650px) {

    #flex-container {
        width: 300px;
        height: 1500px;
    }

    body {
        overflow-y: auto;
    }
}

