#containerCategorie {
    display: flex;
    width: 90%;
    margin: 100px auto;
}

section {
    align-content: center;
    align-items: center;
    margin: auto;
    background-color: mediumaquamarine;
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

.categoria {
    text-align: center;
    width: 100px;
    height: 100px;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    margin: 50px auto auto auto;
}

#divLinkCat {
    margin: 50px auto auto auto;
    width: 60%;
    height: 10%;
    background-color: #007253;
    border-radius: 15px;
}

#divErrorePermessi {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 18%;
    text-align: center;
    padding: 15px;
    margin: 2% auto;
    border-radius: 15px;
}

#selezionaMod {
    color: #007253;
    font-size: 18pt;
    font-weight: bold;
    width: 30%;
    text-align: center;
    padding: 15px;
    margin: 2% auto;
}

#divDescrizione {
    width: 75%;
    height: auto;
    margin: auto;
}

.divTextImg {
    display: flex;
    width: 70%;
    height: 50vh;
    border: 1px solid #007253;
    border-radius: 30px;
    margin: 50px auto 50px auto;
}

.divTextImg:nth-child(even) {
    margin-right: 0;
}

.divTextImg:nth-child(odd) {
    margin-left: 0;
}

.divText, .divImg {
    height: 80%;
    margin: auto;
    text-align: justify;
    font-size: 12pt;
}

.divImg {
    text-align: center;
    align-content: center;
}

.divText {
    width: 50%;
}

#divServizi {
    width: 80%;
}

#divBenvenuto {
    height: 25vh;
}

.parDesc {
    font-size: 14pt;
    font-weight: bold;
}



@media screen and (max-width: 1200px) {

    #containerCategorie {
        display: block;
    }

    section {
        margin: 50px auto 50px auto;
        width: 250px;
        height: 250px;
    }

    .categoria {
        margin-top: 30px;
    }

    #divLinkCat {
        height: 13%;
    }
}

