body, html {
    height: 100%;
    padding: 0;
    margin : 0;
}

#containerCategorie {
    display: flex;
    margin: 100px auto;
}

section {
    align-items: center;
    margin: auto;
    background-color: mediumaquamarine;
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

section {
    align-content: center;
}

.categoria {
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    margin: 50px auto auto auto;
}

#divLinkCat {
    margin: 50px auto auto auto;
    width: 80%;
    height: 30px;
    background-color: #007253;
    border-radius: 15px;
}

#divErrorePermessi {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 18%;
    text-align: center;
    padding: 15px;
    margin: 2% auto;
    border-radius: 15px;
}

#selezionaMod {
    color: #007253;
    font-size: 18pt;
    font-weight: bold;
    width: 500px;
    text-align: center;
    padding: 15px;
    margin: 2% auto;
}

#divDescrizione {
    width: 75%;
    height: auto;
    margin: auto;
}

.divTextImg {
    display: flex;
    width: 600px;
    min-height: 300px;
    border: 1px solid #007253;
    border-radius: 30px;
    margin: 50px auto 50px auto;
}

.divTextImg:nth-child(even) {
    margin-right: 0;
}

.divTextImg:nth-child(odd) {
    margin-left: 0;
}

.divText, .divImg {
    height: 80%;
    margin: 30px;
    text-align: justify;
    font-size: 12pt;
    align-self: center;
}

.divImg {
    text-align: center;
    align-content: center;
}

.divText {
    width: 50%;
}

#divServizi {
    width: 80%;
}


.parDesc {
    font-size: 14pt;
    font-weight: bold;
}



@media screen and (max-width: 1200px) {

    #containerCategorie {
        display: block;
    }

    section {
        margin: 50px auto 50px auto;
        width: 250px;
        height: 250px;
    }

    .categoria {
        margin-top: 30px;
    }
}

@media screen and (max-width: 850px) {
    #divDescrizione {
        width: auto;
    }

    .divTextImg:nth-child(even) {
        margin-right: 10px;
    }

    .divTextImg:nth-child(odd) {
        margin-left: 10px;
    }

    .divText {
        width: 400px;
        /*margin: 30px;*/
    }

    .divTextImg {
        flex-direction: column;
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    #selezionaMod {
        width: 300px;
    }

    .divText {
        width: 200px;
        /*margin: 30px;*/
    }

    .divTextImg {
        flex-direction: column;
        width: 300px;
    }
}