html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#div-loginUtente, #div-loginEsperto, #div-loginAdmin{
    margin: 70px auto 70px auto;
    height: 600px;
    width: 300px;
    border-radius: 30px;
    align-content: center;
    backdrop-filter: blur(5px);
    border : 2px solid white;
}

#form-login input{
    margin-bottom: 30px;
}

#tasto-login, #tasto-registrazione {
    height: 40px;
    width: 250px;
    border-radius: 20px;
    background-color: #007253;
    color: white;
    font-size: 12pt;
    border-color: #007253;
}


#email, #password, #nome, #cognome, #ddn, #loginError {
    height: 40px;
    width: 250px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    border-color: white;
}

.credenziali {
    margin: 30px auto 30px auto;
    text-align: center;
}


#log > a {
    text-decoration: none;
    color: #007253;
    font-weight: bold;
    font-size: 30pt;
}

#reg, #log {
    text-align: center;
}

#divAdmin {
    text-align: center;
}

#nonUtente {
    color: white;
    font-size: 12pt;
}

#div-registrazioneUtente, #div-registrazioneEsperto{
    /*background-color: #80B918;*/
    backdrop-filter: blur(5px);
    margin: 70px auto 75px auto;
    height: 900px;
    width: 300px;
    border-radius: 30px;
    align-content: center;
}

#logoLogin {
    height: 100px;
    width: 100px;
}

.regError, .logError {
    color : red;
    font-weight: bold;
    align-content: center;
}


/*nuove aggiunte */
.containerOfAll {
    background-image: url("../img/login9.jpg");
    background-size: 100% 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: flex; /* Per centrare verticalmente */ /*questo serve per non creare spazi bianchi*/
    justify-content: center;
}

#linkAdmin:link , #linkAdmin:visited, #linkAdmin:hover, #linkAdmin:active {
    color: white;
}
#registrazioneUtente:link , #registrazioneUtente:visited, #registrazioneUtente:hover, #registrazioneUtente:active {
    color: white;
}

#footer {
    border-top : 2px solid white;
}

#tasto-login, #tasto-registrazione {
    background-color: mediumaquamarine;
    border-color: mediumaquamarine;
}

.credenziali label {
    color: white;
}

#reg * {
    color: white;
}

#foto {
    color: white;
}

@media screen and (max-width: 700px) {

    .containerOfAll {
        background-image: url("../img/login8.avif");
    }
}

