html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.infoOrdine, .infoCarrello {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #f0f2f2;
    color: dimgray;
    width: 700px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#containerOfAll {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info {
    margin-right: 20px;
}

.containerOrdine img, #containerCarrello img {
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin: 20px 0;
}

.prodotto{
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
}

.imgContainer {
    width: 200px;
    display: flex;
    justify-content: center;
}

.prodottiOrdine p, #prodottiCarrello p {
    width: 500px;
}

.infoOrdine p, .infoCarrello p {
    width: 200px;
}

.containerOrdine, #containerCarrello {
    border: 1px solid darkgrey;
    border-radius: 15px;
    margin: 30px 0;
    align-self: center;
    width: 700px;
}

.infoOrdine p, .infoCarrello p {
    margin-left: 15px;
}

#nessunRisultato {
    font-size: 25pt;
    font-family: system-ui;
    color: darkgrey;
}

#ordina {
    text-align: center;
    margin: 25px;
}

#buttonOrdina {
    height: 50px;
    width: 200px;
    background-color: #007253;
    border: 0;
    border-radius: 15px;
    color: white;
    font-size: 18pt;
    cursor: pointer;
}

.rimuovi{
    cursor: pointer;
}

.rimuovi:link, .rimuovi:hover, .rimuovi:visited, .rimuovi:active{
    color: darkred;
}

@media screen and (max-width: 750px) {
    .infoOrdine, .infoCarrello {
        flex-direction: column;
        width: 300px;
    }

    .prodotto {
        flex-direction: column;
        height: 250px;
    }

    .containerOrdine, #containerCarrello {
        width: 300px;
    }

    .prodottiOrdine p, #prodottiCarrello p, #prodottiCarrello a{
        text-align: center;
        width: 300px;
        margin: 0;
    }
}